.tableDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100% !important;
    flex-direction: column;
    margin-top: 2%;
}
table {
    border: 1px solid black;
    border-left: none;


}
tr{
}
 th ,td{
    border: 1px solid black;
    border-collapse: collapse;
}